@model IEnumerable<Proact_WebApp.Models.PatientModel>

@{
    ViewData["Title"] = "Medical Teams Patients";
}

<div class="row">
    <div class="col-6">
        <form class="form-horizontal" asp-action="Index" method="get" id="medicalTeamSelectForm">
            <div class="form-group row">
                <label for="medicalTeamId" class="col-sm-2 col-form-label">Filter by Study</label>
                <div class="col-sm-8">
                    <select name="medicalTeamId"
                            id="medicalTeamId"
                            class="form-control select2bs4">
                        @foreach (MedicalTeamModel item in ViewBag.medicalTeams)
                        {
                            @if (ViewBag.medicalTeamId != null && ViewBag.medicalTeamId == item.MedicalTeamId.ToString())
                            {
                                <option selected value="@item.MedicalTeamId"> @Html.DisplayFor(modelItem => item.Project.Name) [ Medical Team: @Html.DisplayFor(modelItem => item.Name) ]</option>
                            }
                            else
                            {
                                <option value="@item.MedicalTeamId"> @Html.DisplayFor(modelItem => item.Project.Name) [ Study: @Html.DisplayFor(modelItem => item.Name) ]</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2">
    </div>
    <div class="col-2">
        <a class="btn btn-block btn-success" asp-controller="Patients" asp-action="Create" asp-route-medicalTeamId="@ViewBag.medicalTeamId"><i class="fas fa-user-plus"></i> Create Patient</a>
    </div>
    <div class="col-2">
        <a class="btn btn-block btn-outline-primary" asp-action="Associate" asp-route-medicalTeamId="@ViewBag.medicalTeamId"><i class="fas fa-link"></i> Associate Patient</a>
    </div>
</div>

<!-- Small boxes (Stat box) -->
<div class="row mt-5">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.PatientsCount</h3>

                <p>Total patients</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>
            <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.ActivePatientsCount</h3>

                <p>Active</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>
            <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.SuspendedPatientsCount</h3>

                <p>Suspended</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>
            <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.DeactivatedPatientsCount</h3>
                <p>Deactivated</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-people"></i>
            </div>
            <a href="#" class="small-box-footer"></a>
        </div>
    </div>
    <!-- ./col -->
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Medics</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="UsersTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width: 100px">
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th style="width:300px">
                                Id
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BirthYear)
                            </th>
                            <th>
                                Dates
                            </th>
                            <th style="width: 100px">
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th style="width: 100px">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <partial name="_SubscriptionStateBadge" model="item.State" />
                                </td>
                                <td>
                                    <div><small><strong>@Html.DisplayNameFor(model => model.Code):</strong> @Html.DisplayFor(modelItem => item.Code)</small></div>
                                    <div><small><strong>@Html.DisplayNameFor(model => model.UserId):</strong> @Html.DisplayFor(modelItem => item.UserId)</small></div>
                                    <div><small><strong>@Html.DisplayNameFor(model => model.AccountId):</strong> @Html.DisplayFor(modelItem => item.AccountId)</small></div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BirthYear)
                                </td>
                                <td>
                                    <div><small><strong>@Html.DisplayNameFor(model => model.FormatedTreatmentStartDate):</strong> @Html.DisplayFor(modelItem => item.FormatedTreatmentStartDate)</small></div>
                                    <div><small><strong>@Html.DisplayNameFor(model => model.FormattedTreatmentEndDate):</strong> @Html.DisplayFor(modelItem => item.FormattedTreatmentEndDate)</small></div>
                                </td>
                                <td>
                                    @if (item.Gender == "M")
                                    {
                                        <span class="badge bg-lightblue">Male</span>
                                    }
                                    else if (item.Gender == "F")
                                    {
                                        <span class="badge bg-pink">Female</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-light"> - </span>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Action</button>
                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item"
                                               asp-action="Protocol"
                                               asp-route-userId="@item.UserId"
                                               asp-route-medicalTeamId="@ViewBag.MedicalTeamId">Protocol</a>
                                            <div class="dropdown-divider"></div>
                                            <a data-toggle="modal" data-target="#modal-remove"
                                               id="@item.UserId"
                                               class="deleteItem dropdown-item">
                                                Remove from team
                                            </a>
                                            @if (item.State == UserSubscriptionState.Active)
                                            {
                                                <a data-toggle="modal" data-target="#modal-deactivate"
                                                   id="@item.UserId"
                                                   class="deactivateItem dropdown-item">
                                                    Deactivate
                                                </a>

                                                <a data-toggle="modal" data-target="#modal-suspend"
                                                   id="@item.UserId"
                                                   class="suspendItem dropdown-item">
                                                    Suspend
                                                </a>
                                            }
                                            @if (item.State == UserSubscriptionState.Deactivated ||
                                               item.State == UserSubscriptionState.Suspended)
                                            {
                                                <a data-toggle="modal" data-target="#modal-activate"
                                                   id="@item.UserId"
                                                   class="activateItem dropdown-item">
                                                    Activate
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

<div class="modal fade" id="modal-remove">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Remove patient from medical team?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @using (Html.BeginForm("RemoveFromTeam", "MedicalTeamPatients", FormMethod.Post))
                {
                    <input type="hidden" name="userId" id="userIdToRemove" />
                    <input type="hidden" name="medicalTeamId" id="medicalTeamIdToRemoveFrom" value="@ViewBag.medicalTeamId" />
                    <button id="btnContinueDelete" type="submit" class="btn btn-danger">Remove</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-deactivate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Do you want to deactivate the patient?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <div class="m-1"><i class="fas fa-times mr-1 text-danger"></i> The patient can no longer access the application.</div>
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @using (Html.BeginForm("DeactivatePatient", "MedicalTeamPatients", FormMethod.Post))
                {
                    <input type="hidden" name="userId" id="userIdToDeactivate" />
                    <input type="hidden" name="medicalTeamId" id="medicalTeamIdToRemoveFrom" value="@ViewBag.medicalTeamId" />
                    <button id="btnContinueDelete" type="submit" class="btn btn-danger">Deactivate</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-suspend">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Do you want to suspend the patient?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <div class="m-1"><i class="fas fa-times mr-1 text-danger"></i> The patient cannot write new messages.</div>
                </p>
                <p>
                    <div class="m-1"><i class="fas fa-check text-success mr-1"></i> The patient can read the messages.</div>
                    <div class="m-1"><i class="fas fa-check text-success mr-1"></i> The patient can answer the surveys.</div>
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @using (Html.BeginForm("SuspendPatient", "MedicalTeamPatients", FormMethod.Post))
                {
                    <input type="hidden" name="userId" id="userIdToSuspend" />
                    <input type="hidden" name="medicalTeamId" id="medicalTeamIdToRemoveFrom" value="@ViewBag.medicalTeamId" />
                    <button id="btnContinueDelete" type="submit" class="btn btn-danger">Suspend</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-activate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Activate patient</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to activate the patient?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @using (Html.BeginForm("ActivatePatient", "MedicalTeamPatients", FormMethod.Post))
                {
                    <input type="hidden" name="userId" id="userIdToActivate" />
                    <input type="hidden" name="medicalTeamId" id="medicalTeamIdToRemoveFrom" value="@ViewBag.medicalTeamId" />
                    <button id="btnContinueDelete" type="submit" class="btn btn-danger">Activate</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!-- DataTables  & Plugins -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/select2/js/select2.full.min.js"></script>

    <script>$(function () {
            $("#UsersTable").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["excel", "pdf", "print"]
            }).buttons().container().appendTo('#UsersTable_wrapper .col-md-6:eq(0)');

            $('.select2').select2();

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            $(".select2bs4").change(function () {
                $('#medicalTeamSelectForm').submit();
            });

        });</script>

    <script>$('.deleteItem').click(function (e) {
            var userId = $(this).attr('id');
            $('#userIdToRemove').val(userId);
        });

        $('.deactivateItem').click(function (e) {
            var userId = $(this).attr('id');
            $('#userIdToDeactivate').val(userId);
        });
        $('.activateItem').click(function (e) {
            var userId = $(this).attr('id');
            $('#userIdToActivate').val(userId);
        });
        $('.suspendItem').click(function (e) {
            var userId = $(this).attr('id');
            $('#userIdToSuspend').val(userId);
        });</script>


}
